<div id="Dato1">
    <label id="dato1">ingrese dato1</label>
    <input id="numero1" type="number">
</div>

<div id="Dato2">
    <label id="dato2">ingrese dato2</label>
    <input id="numero2" type="number">
</div>

<div id="Dato3">
    <label id="resultado">resultado</label>
    <input id="numero3" type="number">
</div>

<div id="Sumar">
    <button id="sumar" onclick="calculadora.sumar()">
        +
    </button>
</div>

<div id="Restar">
    <button id="restar" onclick="calculadora.restar()">
        -
    </button>
</div>

<div id="Multiplicar">
    <button id="multiplicar" onclick="calculadora.multiplicar()">
        X
    </button>
</div>
<div id="Dividir">
    <button id="dividir" onclick="calculadora.dividir()">
        /
    </button>
</div>
<div id="Vaciar">
    <button id="vaciar" onclick="calculadora.vaciar()">
        limpiar
    </button>
</div>

<script src="/js/calculadora.js"></script>
