<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  

    <!-- Css estilo -->
    <link rel="stylesheet" href="css/contactoEmpresarial.css">

  

    <title>Contacto</title>
  </head>
<body>
   
<!-- Inicio Contenido -->
    <section id="hero" class="bg-light seccion">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex mt-5">
                    <div class="align-selft-center">
                        <h1 class="text-dark display-4">Fast Food Family</h1>
                        <p class="text-dark lead mt-4">JUEGA,DIVIERTE Y PASALO GENIAL COMIENDO EN FAMILIA</p>
                        <div class="d-flex">
                            <p class="text-dark font-weight-bold align-self-center mb-0">Siguenos:</p>
                            <ul class="list-inline text-dark ml-4 align-self-center mb-0">
                                <li class="list-inline-item"><a href="https://www.instagram.com/accounts/login/?hl=es-la"><i class="icon ion-logo-instagram"></a></i></li>
                                <li class="list-inline-item ml-3"><a href="https://es-la.facebook.com/"><i class="icon ion-logo-facebook"></a></i></li>
                                <li class="list-inline-item ml-3"><a href="https://www.youtube.com/"><i class="icon ion-logo-youtube"></a></i></li>
                            </ul>
                        </div>  
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 d-flex">
                    <div class="align-self-center">
                        <form action="/contactoEmpresarial" class="formularioGeneral">
                            <div class="formulario">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="">Nombre:</label>
                                        <input type="text" class="form-control" placeholder="Nombres">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="">Apellido:</label>
                                        <input type="text" class="form-control" placeholder="Apellidos">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Correo Electrónico</label>
                                        <input type="email" class="form-control" id="inputEmail4" placeholder="Correo">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="">Teléfono:</label>
                                        <input type="text" class="form-control" placeholder="Celular o Convencional">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">Dirección</label>
                                    <input type="text" class="form-control" id="inputAddress2" placeholder="Sector, Calle principal, calle secundaria">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Mensaje</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Dejanos tu mensaje"></textarea>
                                </div>
                                <button type="submit" class="btn btn-info">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Fin Contenido -->


  <!-- Inicio Footer -->

<section class="bg-light py-5">

<footer id="footer" class="pb-4 pt-4 footer- bg-info">
  <div class="container">
    <div class="w-75">
        <h2 class="font-weight-bold mb-0">Quieres que tu restaurant<br>
        forme parte de nuestra comunidad.</h2>
        <a href="/contactoEmpresarial"><button type="button" class="btn btn-success">Contacto Empresarial</button></a> 
    </div>
</div>
  <div class="container">
    <div class="row text center">
      <div class="col-12 col-md-6 col-lg">
        <a href="/"> Comunicado</a>
      </div>
      <div class="col col-md-6 col-lg">
        <a href="/login"> Descargar App Juego</a>
      </div>
      <div id="conoce593gamerblog"class="col col-md-6 col-lg">
        <a href="/quienesSomos"> Conoce a <br>
            Fast Food Family</a>
      </div>
      <div class="col col-md-6 col-lg">
        <a href="/contactoEmpresarial"> Contactos</a>
      </div>
      <div class="col col-md-6 col-lg">
        <a href="/"> Licencia</a>
      </div>
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
        Redes Sociales
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="https://es-la.facebook.com/">
        Facebook
      </a>
      <a class="dropdown-item" href="https://www.instagram.com/accounts/login/?hl=es-la">
        Instagram
      </a>
      <a class="dropdown-item" href="https://twitter.com/login?lang=es">
        Twitter
      </a>          
    </div>
      <div class="col col-md-6 col-lg">
        <a href="*"> Términos y Condiciones</a>
      </div>        
    </div>
  </div>
    <h6>Copyright Alejandro Sarmiento 2020</h6>
    <h6>Todos los derechos reservados.</h6>
    <ul class="list-inline">
        <li class="list-inline-item mr-4"><a href="https://www.instagram.com/accounts/login/?hl=es-la" class="text-dark lead"><i class="icon ion-logo-instagram"></i></a></li>
        <li class="list-inline-item mr-4"><a href="https://es-la.facebook.com/" class="text-dark lead"><i class="icon ion-logo-facebook"></i></a></li>
        <li class="list-inline-item mr-4"><a href="https://www.youtube.com/" class="text-dark lead"><i class="icon ion-logo-youtube"></i></a></li>
    </ul>

</footer>
</section>
<!-- Fin Footer -->

  </body>
</html>