<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Css Estilo -->
    <link rel="stylesheet" href="css/index.css">

    <!-- Iconos -->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

    <title>Home Principal</title>
  </head>
  <body>
    <!-- Inicio Nav Bar -->
    <nav id="" class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <img src="img/fast_Food_family_logo.png" id="logogame" alt="..."></img>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" id="a-hover" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="a-hover" href="contactoEmpresarial.html">Contacto Empresarial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="a-hover" href="login.html">Iniciar sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold text-dark" id="a-hover" href="login.html">Mis Cupones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold text-dark" id="a-hover" href="login.html">Recompensas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold text-dark" id="a-hover" href="quienesSomos.html">Quienes Somos</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
    <!--Fin Nav Bar -->


    <!-- Inicio Carrusel -->
    <main>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-pause="false">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="img/preparar comida niños.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption">
                        <h5>Prepara tu menú</h5>
                        <p>Haz que los más pequeños del hogar preparen la comida de la manera más divertida</p>
                        <a href="#"><button type="button" class="btn btn-outline-success">Iniciar Juego</button></a>
                    <p>  </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/contacto empresarial.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption">
                        <h5>Contactanos</h5>
                        <p>Si quieres que tu restaurante forme parte de nuestra gran comunidad ingresa e informate de nuestros grandes beneficios</p>
                        <a href="contactoEmpresarial.html"><button type="button" class="btn btn-outline-success">Mayor Información</button></a>
                        <p>  </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/cambio cupones qr.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption">
                        <h5>Recompensas</h5>
                        <p>Revisa todos tus puntos acumulados y cambialos por productos en tu restaurant favorito</p>
                        <a href="login.html"><button type="button" class="btn btn-outline-info">Mayor Información</button></a>
                        <p>  </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
     <!-- Fin Carrusel -->


<!-- Inicio Contenido  -->  
    <section class="py-6">
        <div class="container">
            <div class="text-center w-75 mx-auto mb-5">
                <h3 class="display-4 mb-3">La manera más divertida y emocionante de preparar tu comida es: <br> <span class="font-weight-bold"> Fast Food Family</span></h3>
                <p class="lead text-muted mb-5">Ven y disfruta con nosotros</p>
                <a href="#" class="btn btn-success mr-2 mb-4">Iniciar Juego</a>
                <a href="login.html" class="btn btn-info mb-4"> Registrate</a>
                <ul class="list-unstyled list-line">
                    <p class="lead text-muted mb-5">Buscanos en nuestras Redes</p>
                    <li class="list-inline-item"><small><i class="icon ion-md-checkmark mr-1"><a href="https://www.facebook.com/"></a></i> Facebook </small></li>
                    <li class="list-inline-item mr-4"><a class="text-dark lead"><i class="icon ion-logo-facebook"></i></a></li>
                    <li class="list-inline-item"><small><i class="icon ion-md-checkmark mr-1"><a href="https://www.youtube.com/"></a></i> Instagram </small></li>
                    <li class="list-inline-item mr-4"><a href="https://www.instagram.com/accounts/login/?hl=es-la" class="text-dark lead"><i class="icon ion-logo-instagram"></i></a></li>
                    <li class="list-inline-item"><small><i class="icon ion-md-checkmark mr-1"></i> Youtube </small></li>
                    <li class="list-inline-item mr-4"><a href="https://www.youtube.com/" class="text-dark lead"><i class="icon ion-logo-youtube"></i></a></li>
                </ul>
            </div>  
        </div>
    </section>
    <main class="contenido2">
        <section class="py-5">
            <div class="container">
                <div class="row">
 
                    <div class="col-12 col-sm-4 text-center py-4">
                        <img class="img-fluid" src="img/escanea el codigo.jpg" alt="...">
                        <h5 class="mb-2 mx-auto display-5 py-4 bn-fondo ">Escanea el código</h5>
                        <p class="bn-fondo borde">En el restaurante escanea el código QR y recibe una atención exclusiva y prioritaria en la comodidad de tu mesa</p>
                    </div>
                    <div class="col-12 col-sm-4 text-center py-4">
                        <img class="img-fluid" src="img/prepara tu comida.jpg" alt="...">
                        <h5 class="mb-2 mx-auto display-5 py-4 bn-fondo ">Prepara tu comida</h5>
                        <p class="bn-fondo borde">Que los más pequeños del hogar se diviertan y preparen el menú de toda la familia <br> Déjalos que lo hagan por ti</p>
                    </div>                    
                    <div class="col-12 col-sm-4 text-center py-4">
                        <img class="img-fluid" src="img/a disfrutar.jpg" alt="...">
                        <h5 class="mb-2 mx-auto display-5 py-4 bn-fondo">A disfrutar!!!</h5>
                        <p class="bn-fondo borde">bon Apetit</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
<!-- Fin Contenido  --> 

<!-- Inicio Footer -->

<section class="bg-dark py-5">
        <div class="container">
            <div class="w-75">
                <h2 class="font-weight-bold mb-0">Quieres que tu restaurant<br>
                forme parte de nuestra comunidad.</h2>
                <a href="contactoEmpresarial.html"><button type="button" class="btn btn-outline-success">Contacto Empresarial</button></a> 
            </div>
        </div>
    <footer id="footer" class="pb-4 pt-4 footer-light bg-light">
      <div class="container">
        <div class="row text center">
          <div class="col-12 col-md-6 col-lg">
            <a href="*"> Comunicado</a>
          </div>
          <div class="col col-md-6 col-lg">
            <a href="*"> Descargar App Juego</a>
          </div>
          <div id="conoce593gamerblog"class="col col-md-6 col-lg">
            <a href="quienesSomos.html"> Conoce a <br>
                Fast Food Family</a>
          </div>
          <div class="col col-md-6 col-lg">
            <a href="quienesSomos.html"> Contactos</a>
          </div>
          <div class="col col-md-6 col-lg">
            <a href="*"> Licencia</a>
          </div>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
            Redes Sociales
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://www.facebook.com/">
            Facebook
          </a>
          <a class="dropdown-item" href="https://www.instagram.com/accounts/login/?hl=es-la">
            Instagram
          </a>
          <a class="dropdown-item" href="https://twitter.com/login?lang=es">
            Twitter
          </a>          
        </div>
          <div class="col col-md-6 col-lg">
            <a href="*"> Términos y Condiciones</a>
          </div>        
        </div>
      </div>
        <h6>Copyright Alejandro Sarmiento 2020</h6>
        <h6>Todos los derechos reservados.</h6>
        <ul class="list-inline">
            <li class="list-inline-item mr-4"><a href="https://www.instagram.com/accounts/login/?hl=es-la" class="text-dark lead"><i class="icon ion-logo-instagram"></i></a></li>
            <li class="list-inline-item mr-4"><a href="https://www.facebook.com/" class="text-dark lead"><i class="icon ion-logo-facebook"></i></a></li>
            <li class="list-inline-item mr-4"><a href="https://www.youtube.com/" class="text-dark lead"><i class="icon ion-logo-youtube"></i></a></li>
        </ul>

    </footer>
</section>
<!-- Fin Footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>