<!doctype html>
<html lang="en">
    <head>

        <title>login</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

        <!--Iconos -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
        <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

        <!--Css Estilo-->
        <link rel="stylesheet" href="css/login.css">

    </head>
    <body>
    <script src="js/login.js"></script>
        <div class="modal-dialog text-center">
            <div class="col-sm-8 main-seccion">
                <div class="modal-content">
                    <div class="col-12 img-user">
                        <img src="img/fast_Food_family_logo.png" alt="">
                    </div>
                    <form class="col-12">
                        <div class="form-group" id="user-group">
                            <input type="text" id="usuario" class="form-control" placeholder="Usuario">
                        </div>
                    </form>
                    <form class="col-12">
                        <div class="form-group" id="contrasena-group">
                            <input type="password" id="contraseña" class="form-control" placeholder="Contraseña">
                        </div>
                        <button id="bienvenida" class="btn btn-primary" onclick="login(usuario.value,contraseña.value)"><i class="fas fa-sign-in-alt"></i> Ingresar</button>
                    </form>
                    <div class="col-12 forgot">
                        <a href="loginCrearUsuario.html">Crear cuenta</a>
                    </div>
                    <div class="col-12 forgot">
                        <a href="index.html">Volver al inicio</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>