<!doctype html>
<html lang="en">
  <head>

    <title>Crear Usuario</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!--Css Estilo-->
    <link rel="stylesheet" href="css/login.css">

  </head>
  <body>
    <script src="js/nuevoUsuario.js"></script>
      <div class="modal-dialog text-center">
          <div class="col-sm-8 main-seccion">
              <div class="modal-content">
                  <div class="col-12 img-user">
                      <img src="img/fast_Food_family_logo.png" alt="">
                  </div>
                  <form action="/crearUsuario" method="POST" class="col-12">

                      <div class="form-group" id="user-group">
                          <input type="text" name="username" id="usuario" class="form-control" placeholder="Usuario">
                      </div>
                    <div class="form-group" id="contrasena-group">
                        <input type="password" name="password" id="contraseña" class="form-control" placeholder="Contraseña">
                    </div>
                    <button id="btnNuevoUsuario" class="btn btn-primary" type="submit"><i class="fas fa-sign-in-alt"></i> Ingresar</button>
                  </form>
                <div class="col-12 forgot">
                    <a href="login.html">Iniciar sesión</a>
                </div>
              </div>
          </div>
      </div>
  </body>
</html>