<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


        <!-- Css Estilo -->
        <link rel="stylesheet" href="css/quienesSomos.css">


        <title>Quienes Somos</title>
    </head>


    <body>


<!-- Inicio Contenido -->
    <form action="/quienesSomos"></form>
    <div id="quienesSomos" class="container-titulo1 my-6"> 
        <div class="row text-center">
            <div class="col">
                <div class="offset-md-3 col-6 offset-sm-3">
                    <h1 class="texto1">Fast Food Family</h1>
                </div>
            </div>
        </div>
    </div>
    
    <section class="py-5 bg-ligth">
            <div class="container">
                <h2 class="font-weight-bold mb-0">Quienes Somos</h2>
                <p class="lead text-muted mb-5">Somos la plicación más divertida y entretenida en la cual tus pequeños disfrutarán preparar tu menú mientras tu evitas esa larga cola en el restaurant</p>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="my-3">
                            <div class="position-absolute member-info text-light">
                            </div>
                            <img src="img/quienes somos 3.jpg" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="my-3">
                            <div class="position-absolute member-info text-light">
                            </div>
                            <img src="img/quienes somos 1.jpg" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="my-3">
                            <div class="position-absolute member-info text-light">  
                            </div>
                            <img src="img/quienes somos 2.jpg" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex">
                        <div class="align-self-center my-3">
                            <h2 class="font-weight-bold mb-4">Buscas incrementar tus clientes y que ellos se sientan cómodos</h2>
                            <p class="text-muted mb-4">Estamos en expansión   <br>
                                solo faltas TU</p>
                                <h5 class="text-muted col-md-1  ml-auto align-self-center" id="contacto" >Contacto   <br>
                                    Telefono:099999999 <br>
                                email:fastfoodfamily@gmail.com</h5>                               

                        </div>
                    </div>
                </div>
            </div>
    </section>
<!-- Fin Contenido -->


    <!-- Inicio Footer -->
    <section class="bg-light py-5">
    <footer id="footer" class="pb-4 pt-4 footer-dark bg-info">
    <div class="container">
        <div class="w-75">
            <h2 class="font-weight-bold mb-0">Quieres que tu restaurant<br>
            forme parte de nuestra comunidad.</h2>
            <a href="contactoEmpresarial.html"><button type="button" class="btn btn-success">Contacto Empresarial</button></a> 
        </div>
    </div>
      <div class="container">
        <div class="row text center">
          <div class="col-12 col-md-6 col-lg">
            <a href="*"> Comunicado</a>
          </div>
          <div class="col col-md-6 col-lg">
            <a href="/login"> Descargar App Juego</a>
          </div>
          <div id="conoce593gamerblog"class="col col-md-6 col-lg">
            <a href="/quienesSomos"> Conoce a <br>
                Fast Food Family</a>
          </div>
          <div class="col col-md-6 col-lg">
            <a href="/contactoEmpresarial"> Contactos</a>
          </div>
          <div class="col col-md-6 col-lg">
            <a href="*"> Licencia</a>
          </div>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
            Redes Sociales
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://es-la.facebook.com/">
            Facebook
          </a>
          <a class="dropdown-item" href="https://www.instagram.com/accounts/login/?hl=es-la">
            Instagram
          </a>
          <a class="dropdown-item" href="https://twitter.com/login?lang=es">
            Twitter
          </a>          
        </div>
          <div class="col col-md-6 col-lg">
            <a href="*"> Términos y Condiciones</a>
          </div>        
        </div>
      </div>
      <h6>Copyright Fast Food Family 2020</h6>
      <h6>Todos los derechos reservados.</h6>
      <ul class="list-inline">
        <li class="list-inline-item mr-4"><a href="https://www.instagram.com/accounts/login/?hl=es-la" class="text-dark lead"><i class="icon ion-logo-instagram"></i></a></li>
        <li class="list-inline-item mr-4"><a href="https://es-la.facebook.com/" class="text-dark lead"><i class="icon ion-logo-facebook"></i></a></li>
        <li class="list-inline-item mr-4"><a href="https://www.youtube.com/" class="text-dark lead"><i class="icon ion-logo-youtube"></i></a></li>
    </ul>
    </footer>
    </section>
<!-- Fin Footer -->  

    </body>
</html>