body {
    font-family: 'Trebuchet MS', sans-serif;    
    font-size: 20px;
    font-weight: 300px;
    background-color: blue;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

.navbar {
    min-height: 60px;
}
#logogame{
    width: 160px;
    height: 100px;
}


#a-hover {
    color: whitesmoke;
}

#a-hover:hover {
    color: turquoise;
}

.seccion {
    padding: 150px 0;
}

#hero i {
    font-size: 33px;
    color: blueviolet;
}


.formularioGeneral {
    border: 3px solid cornflowerblue;
    border-radius: 5px;
    box-shadow: -10px 10px 0 0 blue;
}

.formulario {
    font-family: "Luminari", fantasy;
    padding: 33px;
    margin: auto;
    background: burlywood;
}



@media (max-width: 600px){
 
    footer {
        background-color: burlywood;
    }
    .display-4 {
        font-size: 30px;
    }
    h2{
        color:rgb(245, 50, 203);
    }
    .btn {
        width: 100%;
    }

    .w-75 {
        width: 100% ;
    }
    h6{
       color: tomato;
    }
}



