body{
    background: url("/img/fondo\ login\ 1.jpg") no-repeat center center fixed;
    background-size: cover;
}

.main-seccion {
    margin: 0 auto;
    margin-top: 25%;
    padding: 0;
}

.navbar {
    min-height: 85px;
}

.modal-content {
    background-color: #141516;
    opacity: .85;
    padding: 0 20px;
    box-shadow: 0px 0px 3px #000000;
}

.img-user {
    margin-top: 20px;
    margin-bottom: 30px;
}

.img-user img {
    margin-top: -50px;
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 3px #848484;
    border-radius: 50%;
}

.form-group input {
    height: 42px;
    font-size: 18px;
    border: 0;
    padding-left: 54px;
    border-radius: 5px;
}

.form-group::before {
    font-family: 'Gill Sans', sans-serif;
    position: absolute;
    left: 28px;
    font-size: 22px;
    padding-top: 4px;
}

button {
    width: 60%;
    margin: 5px 0 25px;
}

.forgot {
    padding: 5px 0;
}

.forgot a {
    color: #ffffff;
}